[ "*.cs" ]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none
[*.cs]

# CA1416: Plattformkompatibilität überprüfen
dotnet_diagnostic.CA1416.severity = none

# CA2211: Nicht konstante Felder dürfen nicht sichtbar sein
dotnet_diagnostic.CA2211.severity = none

# IDE0060: Nicht verwendete Parameter entfernen
dotnet_diagnostic.IDE0060.severity = none

# CA1822: Member als statisch markieren
dotnet_diagnostic.CA1822.severity = none

# CS8618: Ein Non-Nullable-Feld muss beim Beenden des Konstruktors einen Wert ungleich NULL enthalten. Erwägen Sie die Deklaration als Nullable.
dotnet_diagnostic.CS8618.severity = none

# CS8602: Dereferenzierung eines möglichen Nullverweises.
dotnet_diagnostic.CS8602.severity = none

# CS8600: Das NULL-Literal oder ein möglicher NULL-Wert wird in einen Non-Nullable-Typ konvertiert.
dotnet_diagnostic.CS8600.severity = none

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none
